@import '../../stylus/vars'

$header-height = 4rem

#header
  align-items center
  background rgba($blue, .1)
  display flex
  grid-area header
  height $header-height
  justify-content space-between
  position relative
  z-index 1000

  &.menu-open
    a
    h2
      color white

    .bars
      &:hover
        transform rotate(45deg)
      .bar
        background white !important

  .logo
    color $neon-green
    font-family "museo-slab", sans-serif
    font-size 2rem
    font-weight 200
    text-decoration none

  .nav-wrapper
    align-items center
    display inline-flex

    h2
      margin-bottom 0
      margin-right 1rem
      text-transform capitalize

      @media screen and (min-width: 768px)
        margin-right 2rem

  .bars
    cursor pointer
    display flex
    flex-direction column
    height 2rem
    justify-content space-around
    padding .25rem 0
    transition all .25s
    width 1.5rem

    &:hover
      .bar
        background $mint

        &.top
          transform rotate(90deg) translateX(35%)
        &.bottom
          opacity 0
          transform rotate(90deg)

    .bar
      background $gray
      height .125rem
      transition all .3s
