@import "vars"

*
  box-sizing border-box

html
body
#root
  height 100%

html
  font-size 16px

body
  -webkit-font-smoothing antialiased
  color $gray
  font-family "museo-sans-rounded", sans-serif
