// Colors
$gray = #888
$light-gray = #c9c9c9
$off-white = #f5f6f6
$mint = #b5d5c7
$coral = #f0807f

$neon-green = #66D914
$chill-green = #82A668
$green = #488C03
$orangy = #F24F13
$red = #F23322
$blue = #66D9FF