.app
  display grid
  grid-template-areas "header" "main"
  grid-template-columns auto
  grid-template-rows 4rem auto
  height 100%

  #header
  #main
    padding-left 1rem
    padding-right 1rem

    @media screen and (min-width: 768px)
      padding-left 2rem
      padding-right 2rem

    @media screen and (min-width: 1024px)
      padding-left 3rem
      padding-right 3rem

  #main
    grid-area main
