#Page {
  position: relative;
}
#Page .wio-link {
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.125s;
}
#Page .wio-link:hover {
  opacity: 1;
}
#Page .content {
  color: #999;
  margin: 0 auto 2rem;
  max-width: 768px;
}
